{{>layouts/header}}
<form class = "container" action="/articles/post" method="post">
    <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" name="title" id="title" >
    </div>
    <div class="mb-3">
        <label for="content" class="form-label">Content</label>
        <input type="text" class="form-control" name="content" id="content">
    </div>
    <button type="submit" class="btn btn-primary">제출</button>
    <a href="/articles/list" class="btn btn-success">목록보기</a>
</form>
{{>layouts/footer}}