{{>layouts/header}}
{{#article}}
<table class="table">
    <tbody>
        <tr>
            <th scope="row">id</th>
            <td>{{id}}</td>
        </tr>
        <tr>
            <th scope="row">title</th>
            <td>{{title}}</td>
        </tr>
        <tr>
            <th scope="row">content</th>
            <td>{{content}}</td>
        </tr>
    </tbody>
</table>
<a href="/articles/{{id}}/delete" class="btn btn-danger">삭제</a>
<a href="/articles/list" class="btn btn-success">목록으로</a>
{{/article}}
{{>layouts/footer}}